@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

@keyframes slideInTop {
	from {
		transform: translateY(-50px)
	}
	
	to {
		transform: translateY(0);
	}
}

* {
	font-family: Arial;
	font-weight: bold;
}

.function-cont {
	display: flex;
	gap: 20px;
}

.Input {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: cener;
}

.Header {
	font-weight: 20px;
	display: inline-block;
	animation-name: fadeIn;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
}

.input-box {
	border: 1px solid grey;
	padding: 15px 10px;
	width: 500px;
}

.function-cont {
	animation-name: slideInTop;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
}

.submit {
	color: white;
	background: black;
	padding: 15px;
	border: none;
	transition: 0.15s;
	width: 100px;
}

.submit:hover {
	background: white;
	color: black;
	border: 1px solid black;
}

.output {
	margin-top: 50px;
}

.submit:active {
	color: white;
	background: black;
	border: none;
	
}

.todo-text {
	border: 1px solid black;
	margin: 10px 0;
	padding: 5px;
	display: flex;
	align-items: center;
	width: 500px;
}

.task-name {
	width: 250px;
	word-wrap: break-word;
}

.finish-btn {
	margin-left: auto;
	height: 30px;
	background: none;
}

.finish-btn:hover {
	background: green;
	color: white;
}

.date {
	color: grey;
	font-size: 13px;
	padding: 5px;
	margin-left: auto;
}

.function-cont div {
	display: flex;
	align-items: center;
	gap: 10px;
}
.task-date {
	padding: 15px 10px;
}


.time-select {
	padding: 17px 10px;
}

.js-error {
	color: red;
	font-weight: normal;
}

@media (max-width: 1000px) {
	
	.Input {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}
	
	.Header {
		text-align: center;
		width: 100%;
	}
	
	.input-box {
		width: 80%;
	}
	
	.function-cont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	
	.todo-text {
		width: 95%;
	}
	
	.output {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.date {
		display: inline-block;
	}
	
	.time-select {
		display: inline-block;
	}
}
